
```{r}
# arboles de clasificacion

#instalamos librerias 

library(rpart)
library(rpart.plot)
library(caret)

# cargamos data set

banknote <- read.csv("../Desktop/sebastian/r studio/cheat sheet/banknote-authentication.csv.txt")

# creamos muestra 

set.seed(2018)

# creamos training id con el 0.7 de la muestra

training.ids <- createDataPartition(banknote$class, p= 0.7 , list = FALSE )

# creamos el modelo con class dependiendo de las demas variables

mod <- rpart(class ~ . , data = banknote[training.ids ,],
                    method = "class",
                    control = rpart.control(minsplit = 20 , cp = 0.01))

# ejecutamos el modelo
mod

# plot el modelo

prp(mod, type = 2 , extra = 104 , nn = TRUE ,
    fallen.leaves = TRUE, faclen = 4, varlen = 8 , shadow.col = "grey")

```
